- if user_signed_in? && current_user.admin?
  .admin_links
    - if edit_path
      = link_to "Edit", edit_path, class: "btn btn-sm btn-primary"
    = link_to "Delete", removed, method: 'delete', date: { confirm: "You sure?" }, class: "btn btn-sm btn-danger"
